<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Actions <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <% if resourceful.has_action?(:show) %>
      <li><%= link_to 'View', table_item %></li>
    <% end %>
    <% if resourceful.has_action?(:edit) %>
      <li><%= link_to 'Edit', [:edit, table_item] %></li>
    <% end %>
    <% if resourceful.has_action?(:destroy) %>
      <li><%= link_to 'Delete', [table_item], method: :delete, data: {confirm: 'Are you sure you want to delete this entry?'} %></li>
    <% end %>
  </ul>
</div>
