<!DOCTYPE html>
<html>
<head>
  <title>Archetype</title>
  <%= stylesheet_link_tag    "archetype/application", media: "all" %>
  <%= javascript_include_tag "archetype/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
