<div class="btn-toolbar pull-right" role='toolbar'>
  <div class="btn-group" role='group'>
    <%= link_to 'Add new', [:new, resource_class.to_s.underscore], class: 'btn btn-sm btn-primary' %>
  </div>
</div>
