<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    <%= interface.title %>
    <small>management</small>
  </h1>
  <%= render 'breadcrumbs', breadcrumb: interface.breadcrumbs %>
</section>
