<%= render 'header' %>
<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <%= render 'form', context: :new %>
    </div><!-- /.col -->
  </div><!-- /.row -->
</section><!-- /.content -->

